
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 90vh;
    box-sizing: border-box;
    background-color: rgb(68, 65, 65);
}

.tabla{
    width: calc(100% - 60px);
    height: auto;
    padding: 20px;
}
h1{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}